<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Map Details | MySpot</title>

  </head>

  <body>
    <% for (var ourMap of mapInfo) { %>
            <% var mapName = ourMap.map_name %>
            <% var mapID = ourMap.id %>
            <% var latitude = ourMap.map_lat %>
            <% var longitude = ourMap.map_long %>
            <% var mapID = ourMap.id %>
         <% } %>

             <div id="favorites">
      <div id='fav'>
        <i class="fas fa-heart"></i>
      </div>
      <div id='notfav'>
        <i class="far fa-heart"></i>
      </div>
    </div>


    <script>
    $("#fav").hide();
    $("#favorites").click(function() {
      $("#notfav").hide();
      $("#fav").show();
      storefav();

    });

    function storefav(mapid){

      let newFavMap = {
        favMapId: <%= ourMap.id %>
        };
        //

      $.ajax({
        type: "POST",
        url: '/favorite',
        data: newFavMap
      })
      .done(function() {
        alert( "fav success!" );
      })
      .fail(function() {
        alert( "fav error" );
      })
    }
    </script>

    <% if (hasFavorite) { %>
      <script>
      $("#fav").show();
      $("#notfav").hide();
      </script>
      <% } %>

<h1> <%= mapName %></h1>

    <div id="floating-panel">
      <input id="address" type="textbox" value="Montreal, QC">
      <input id="submit" onclick="change()" type="button" value="Set your map center!">
    </div>
    <div id="map"></div>

    <script>

      function change()
      {
        var elem = document.getElementById("submit");
        if (elem.value=="Set your map center!") elem.value = "Set your marker!";
        else elem.value = "Set your map center";
      }
      function storePoint(latlong){
         let lat = latlong.lat();
         let lng = latlong.lng();

         let img = addImage();
         let data = {
                    id: '<%=mapID %>',
                    name: 'Point',
                    description: 'Description',
                    image: img,
                    lng: lng,
                    lat: lat
                    };
         $.ajax({
            type: "POST",
            url: '/points',
            data: data
            })
            .done(function() {
              alert( "success!" );
              })
            .fail(function() {
              alert( "error" );
              })
      }
      function editPoint(update){
        var obj = update;

        $.ajax({
            type: "POST",
            url: '/points',
            data: obj
            })
            .done(function() {
              alert( "success!" );
              })
            .fail(function() {
              alert( "error" );
              })
        }

      function initMap() {
      //initiate overall map
        var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: <%= latitude %>,lng: <%= longitude %>},
         zoom: 12

       });

       // loop through points info to add all existing markers
        <% for (var ourPoint of pointInfo) { %>
            var point = new google.maps.Marker({
              position: {lat: <%= ourPoint.point_lat %>, lng: <%= ourPoint.point_long %> },
              map: map,
              title: '<%= ourPoint.point_name %>'
            });

            // var infowindow = new google.maps.InfoWindow({
            // content: '<div style='float:left'><img src='<%= ourPoint.point_image %>'></div><div style='float:right; padding: 10px;'><b>Title</b><br/>123 Address<br/> <%= ourPoint.point_description %></div>'
            // });
            var infowindow = new google.maps.InfoWindow({
            content: "<div style='float:left'><img src='<%= ourPoint.point_image %>'></div><div style='float:right; padding: 10px;'><b><%= ourPoint.point_name %></b><br/>123 Address<br/> <%= ourPoint.point_description %></div>"
            });

           google.maps.event.addListener(point, 'click', (function(point, ourPoint) {
            return function() {
              infowindow.open(map, point);
            }
            }) (point, <%=ourPoint.length %>));
        <% } %>

           // point.addListener('click', function() {
           //    infowindow.open(map, point);
           //  });
        //user is able to enter address to create new marker
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      //if address exists, add marker to map
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            storePoint(results[0].geometry.location);
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }//end of geocodeAdress function
    }

    document.getElementById('submit').addEventListener('click', function(){
      var updatedPointInfo = {
       point_id: document.getElementById('point_id').value,
       point_name: document.getElementById('point_name').value,
       point_description: document.getElementById('point_description').value,
       point_long:  document.getElementById('point_long').value,
       point_lat : document.getElementById('point_lat').value
      }
      editPoint(updatedPointInfo);
    })
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxv_lcD-DJGOKruhMUYLFKU_LPzP1z8bQ&callback=initMap&libraries=places"></script>


    <p>Here is the map for a specific ID so you can see all the points and map info. YAY! ANYONE CAN SEE THIS PART</p>

    <h3>Update a Point</h3>
      <form action="/">
        Point_id:<br>
        <input type="text" name="point_id">
        <br>
        Point Name:<br>
        <input type="text" name="point_name">
        <br>
        Description:<br>
        <input type="text" name="point_description">
        <br>
        Longitude:<br>
        <br>
        <input type="text" name="point_long">
        <br>Latitude<br>
        <input type="text" name="point_lat">
        <input type="submit" value="submit">
      </form>

    <p>Users can favorite this map by clicking on an icon. that will make this a Fav in the db for the authenticated user. </p>
    <p>This will have options to:
      <ul>
        <li>edit map name</li>
        <li>edit map location</li>
        <li>add Map Points. Points will have Title - Desription - Image</li>
        <li>edit Map Points</li>
        <li>delete Map Points</li>
      </ul>
    </p>
  </body>
</html>
