<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Map Details | MySpot</title>
  </head>
  <body>
    <div id="favorites">
      <div id='fav'>
        <i class="fas fa-heart"></i>
      </div>
      <div id='notfav'>
        <i class="far fa-heart"></i>
      </div>
    </div>

    <script>

    $("#fav").hide();

    $("#favorites").click(function() {
      $("#notfav").hide();
      $("#fav").show();
    });

    function favorite() {
      $("#notfav").hide();
      $("#fav").show();
    };
    </script>

    <% if (hasFavorite) { %>

      <script>
      $("#fav").show();
      $("#notfav").hide();

      </script>

    <% } %>


      <% for (var ourMap of mapInfo) { %>
            <h1> <%= ourMap.map_name %></h1>
            <% var latitude = ourMap.map_lat %>
            <% var longitude = ourMap.map_long %>
         <% } %>

    <div id="floating-panel">
      <input id="address" type="textbox" value="Montreal, QC">
      <input id="submit" onclick="change()" type="button" value="Set Map Pin">
    </div>
    <div id="map"></div>

    <script>
      function myFunction(x) {
        x.classList.toggle("fas fa-heart");
      }

      function change()
      {
        var elem = document.getElementById("submit");
        if (elem.value=="Set Map Pin") elem.value = "Set your marker!";
        else elem.value = "Set Map Pin";
      }
      function storePoint(latlong){
         let lat = latlong.lat();
         let lng = latlong.lng();
         let data = {
                    lat: lat,
                    lng: lng,
                    id: <%=ourMap.id %>
                    };
         $.ajax({
            type: "POST",
            url: '/points',
            data: data
            })
            .done(function() {
              alert( "success!" );
              })
            .fail(function() {
              alert( "error" );
              })
      }
      function initMap() {
      //initiate overall map
        var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: <%= latitude %>,lng: <%= longitude %>},
         zoom: 12

       });



       // loop through points info to add all existing markers
        <% for (var ourPoint of pointInfo) { %>
            var point = new google.maps.Marker({
              position: {lat: <%= ourPoint.point_lat %>, lng: <%= ourPoint.point_long %> },
              map: map,
              title: '<%= ourPoint.point_name %>'
            });

            var infowindow = new google.maps.InfoWindow({
            content: '<%= ourPoint.point_description %>'
            });

           google.maps.event.addListener(point, 'click', (function(point, ourPoint) {
            return function() {
              infowindow.open(map, point);
            }
            }) (point, <%=ourPoint.length %>));
        <% } %>

           // point.addListener('click', function() {
           //    infowindow.open(map, point);
           //  });
        //user is able to enter address to create new marker
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      //if address exists, add marker to map
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            storePoint(results[0].geometry.location);
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }//end of geocodeAdress function
    }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxv_lcD-DJGOKruhMUYLFKU_LPzP1z8bQ&callback=initMap&libraries=places"></script>


    <p>Here is the map for a specific ID so you can see all the points and map info. YAY! ANYONE CAN SEE THIS PART</p>

    <h3>ONLY FOR AUTH USERS</h3>
    <p>Users can favorite this map by clicking on an icon. that will make this a Fav in the db for the authenticated user. </p>
    <p>This will have options to:
      <ul>
        <li>edit map name</li>
        <li>edit map location</li>
        <li>add Map Points. Points will have Title - Desription - Image</li>
        <li>edit Map Points</li>
        <li>delete Map Points</li>
      </ul>
    </p>
  </body>
</html>
