<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Map Details | MySpot</title>

  </head>
  <body>

    <% for (var ourMap of mapInfo) { %>

        <% var mapName = ourMap.map_name %>
        <% var mapID = ourMap.id %>
        <% var latitude = ourMap.map_lat %>
        <% var longitude = ourMap.map_long %>

    <% } %>


    <div id="favorites">
      <div id='fav'>
        <i class="fas fa-heart"></i>
      </div>
      <div id='notfav'>
        <i class="far fa-heart"></i>
      </div>
    </div>

    <script>
    $("#fav").hide();
    $("#pointEditForm").hide();
    $("#favorites").click(function() {
      $("#notfav").hide();
      $("#fav").show();
      storefav();

    });

    function storefav(mapid){

      let newFavMap = {
        favMapId: <%= ourMap.id %>
        };
        //

      $.ajax({
        type: "POST",
        url: '/favorite',
        data: newFavMap
      })
      .done(function() {
        alert( "fav success!" );
      })
      .fail(function() {
        alert( "fav error" );
      })
    }
    </script>

    <% if (hasFavorite) { %>
      <script>
      $("#fav").show();
      $("#notfav").hide();
      </script>
      <% } %>

<h1 id='pageTitle'><%= mapName %>  <i class="far fa-edit"></i></h1>


    <div id="floating-panel">
      <form action="/" id='addPinForm'>
        <label for="name">Point Name:</label>
        <input type="text" name="point_name" id="createpoint_name" placeholder="Pin Name">
        <br>
        <label for="description">Point Description:</label>
        <input type="text" name="point_description" id="createpoint_description" placeholder="Description">
        <br>
        <label for="location">Point Location:</label>
        <input id="address" type="textbox" placeholder="Montreal, QC">
        <br>
        <input id="addPinsubmit" type="submit" value="Set Map Pin">
      </form>
    </div>
    <div id="map"></div>

<script>
function initMap() {
  //initiate overall map
    var map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: <%= latitude %>,lng: <%= longitude %>},
     zoom: 12

   });

   // loop through points info to add all existing markers
    <% for (var ourPoint of pointInfo) { %>
      <% var pointName = ourPoint.point_name %>

        var point = new google.maps.Marker({
          position: {lat: <%= ourPoint.point_lat %>, lng: <%= ourPoint.point_long %> },
          map: map,
          id: <%= ourPoint.point_id %>,
          title: "<%= ourPoint.point_name %>"
        });


        var infowindow = new google.maps.InfoWindow({
        content: "<div style='float:left'><img src='http://i.stack.imgur.com/g672i.png'></div><div style='float:right; padding: 10px;'><b><%= ourPoint.point_name %></b><br/>123 Address<br/> <%= ourPoint.point_description %></div>"
        });
        // var infowindow = new google.maps.InfoWindow({
        // content: `<div style='float:left'><img src='http://i.stack.imgur.com/g672i.png'></div><div style='float:right; padding: 10px;'><b>${<%= ourPoint.point_name %>}</b><br/>123 Address<br/>${<%= ourPoint.point_description %>}</div>`
        // });

       google.maps.event.addListener(point, 'click', (function(point, ourPoint) {
         // $("#edit_pin_form input[name=point_id]").change(function(){
         //    alert("The text has been changed.");
         //    });;

        return function() {
          infowindow.open(map, point);

          $.ajax({
            type: "GET",
            url: '/points/'+point.id
          })
          .done( function(res) {
            $('#point_id').val(res.point_id);
            $('#point_name').val(res.point_name);
            $('#point_description').val(res.point_description);
           })
          .fail(function() {
            alert( "failed" );
          })
        }
        }) (point, <%=ourPoint.length %>));

        google.maps.event.addListener(point, 'click', (function(point) {
          return function() {
            var title = '<%= ourPoint.point_name %>';
            var description = '<%= ourPoint.point_description %>';
            var html = "<div style='float:left'><img src='http://i.stack.imgur.com/g672i.png'></div><div style='float:right; padding: 10px;'><b>" + title + "</b><br/>123 Address<br/>" + description + "</div>";
            infowindow.setContent(html);
            infowindow.open(map, point, html);
            // infowindow.setContent(html);
            // infowindow.open(map, marker);
          }
        })(point));
    <% } %>

    //user is able to enter address to create new marker
    var geocoder = new google.maps.Geocoder();
    document.getElementById('addPinsubmit').addEventListener('click', function() {
      geocodeAddress(geocoder, map);
    });
  //if address exists, add marker to map
  function storePoint(latlong, address){
     let lat = latlong.lat();
     let lng = latlong.lng();
     let addr = address;
     let data = {
                id: '<%=mapID %>',
                name: document.getElementById('createpoint_name').value,
                description: document.getElementById('createpoint_description').value,
                lng: lng,
                lat: lat
                };
     $.ajax({
        type: "POST",
        url: '/points',
        data: data
        })
        .done(function() {
          alert( "success!" );
          })
        .fail(function() {
          alert( "error" );
          })
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        storePoint(results[0].geometry.location, results[0].formatted_address);
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location,
          address: results[0].formatted_address
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }//end of geocodeAdress function
}

$(document).ready(function(){

      function change()
      {
        var elem = document.getElementById("submit");
        if (elem.value=="Set Map Pin") elem.value = "Set your marker!";
        else elem.value = "Set Map Pin";
      }
      // function storePoint(latlong){
      //    let lat = latlong.lat();
      //    let lng = latlong.lng();
      //
      //    let img = addImage();
      //    let data = {
      //               id: '<%=mapID %>',
      //               name: 'Point',
      //               description: 'Description',
      //               image: img,
      //               lng: lng,
      //               lat: lat
      //               };
      //    $.ajax({
      //       type: "POST",
      //       url: '/points',
      //       data: data
      //       })
      //       .done(function() {
      //         alert( "success!" );
      //         })
      //       .fail(function() {
      //         alert( "error" );
      //         })
      // }
      function editPoint(update){
        var obj = update;

        $.ajax({
            type: "POST",
            url: '/points/edit',
            data: obj
            })
            .done(function() {
              alert( "success!" );
              })
            .fail(function() {
              alert( "error" );
              })
        }

        function editMap(update){
        var obj = update;
        $.ajax({
            type: "POST",
            url: '/maps/edit',
            data: obj
            })
            .done(function() {
              $('#pageTitle').text(obj.map_name);
              console.log('map edited!')

              })
            .fail(function() {
              alert( "error editing name" );
              })
        }

      //   function deletePoint(delete){
      //     var deletePointobj = delete;
      //
      //     $.ajax({
      //         type: "POST",
      //         url: '/points/delete',
      //         data: deletePointobj
      //         })
      //         .done(function() {
      //           alert( "delete successful!" );
      //           })
      //         .fail(function() {
      //           alert( "error" );
      //           })
      //     }
      //
      // $('delete_point').on('submit', function(event){
      //   event.preventDefault();
      //   deletePoint(updatedPointInfo);
      // })

    $('#edit_pin_form').on('submit', function(event){
      event.preventDefault();

      var updatedPointInfo = {
       point_id: document.getElementById('point_id').value,
       point_name: document.getElementById('point_name').value,
       point_description: document.getElementById('point_description').value,
      }
      editPoint(updatedPointInfo);
    })

     $('#editMap').on('submit', function(event){
      event.preventDefault();
        var updateMap = {
        map_id: <%= mapID %>,
        map_name: document.getElementById('map_name').value
        }
        editMap(updateMap);
    })
  })

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxv_lcD-DJGOKruhMUYLFKU_LPzP1z8bQ&callback=initMap&libraries=places"></script>

  <div id="editMapDetails">
      <h3>Update a Point</h3>
      <div id="pointEditForm">
        <form action="/" id='edit_pin_form'>
          <label for="pointidlabel">Point ID:</label>
          <input type="text" name="point_id" id="point_id" value="<%= ourPoint.point_id %>" readonly>
          <br>
          <label for="pointnamelabel">Name:</label>
          <input type="text" name="point_name" id="point_name" value="<%=pointName %>">
          <br>
          <label for="pointdesclabel">Description:</label>
          <input type="text" name="point_description" id="point_description" value="<%= ourPoint.point_description %>"><br>
          <input type="submit" id='submit2' value="submit">
        </form>
        <form action="/" id='delete_point'>
          <input type="submit" id='deletePnt' value="delete">
        </form>
      </div>
      <h3>Update Map</h3>
       <div id="editMap">
        <form >
          <label for="mapnamelabel">Name:</label><input type="text" name="map_name" id="map_name"><br>
          <input type="submit" id='submit-editMap' value="submit">
        </form>
      </div>
  </div>
  </body>
</html>
